<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <link rel="stylesheet" href="css/kube.min.css">
    <link rel='stylesheet' href='css/owl.carousel.min.css'>
    <link rel='stylesheet' href='css/owl.theme.default.min.css'>
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="content">
            <div id="logo">
                <img src="img/logo.png" alt="">
            </div>
            {{ .Content }}
        </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/kube.min.js"></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src="js/index.js"></script>

</body>

</html>