<div class="item row" style="background-image: url( 'img/{{.Get "src" | safeHTML}}' )">
    <div class="col col-6 push-middle push-center owl-text">
        <h2 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">{{.Get "h2" | safeHTML}}
        </h2>
        <p data-animation-in="slideInRight" data-animation-out="animate-out fadeOut"> {{ .Get "p" | safeHTML}}
        </p>
    </div>
    <div class="overlay"></div>
</div>